---
import type { Props } from '@astrojs/starlight/props';
import { LinkButton } from '@astrojs/starlight/components';
import Carousel from './Carousel.astro';

const { title, hero } = Astro.props.entry.data;
const isHomepage = Astro.props.id === '';

const carousel = [
  "https://www.youtube.com/embed/D1o9Y5kFDrk?start=250&autoplay=0&mute=0&playsinline=1&controls=1&loop=0",
  "https://www.youtube.com/embed/uwuPjYF-XwA?start=100&autoplay=0&mute=0&playsinline=1&controls=1&loop=0",
  "https://www.youtube.com/embed/wgPf24_OQZY?start=130&autoplay=0&mute=0&playsinline=1&controls=1&loop=0",
];
---

<div
  class=
    "hero grid grid-cols-1 lg:grid-cols-2
    items-center gap-x-4 gap-y-8 pb-16 pt-16 my-16 lg:my-32 mx-8"
>
  { hero &&
    <div
      class="flex flex-col text-left leading-tight
              place-self-center md:place-self-left"
    >
      <div class="pb-8">
        <h1
          id={title}
          data-page-title
          class="text-4xl md:6xl text-black dark:text-white"
        >{title}</h1>
        {hero.tagline && <div class="text-lg">{hero.tagline}</div>}
      </div>
      {
        hero.actions.length > 0 && (
          <div class="flex flex-wrap gap-x-4 gap-y-0 text-lg">
            { hero.actions.map(
                ( { attrs: { class: className, ...attrs } = {},
                    icon, link: href, text, variant
                  }
                ) => (
                  <LinkButton
                    {href} {variant} icon={icon?.name}
                    class:list={[className]} {...attrs}
                  >
                    {text}
                    {icon?.html && <Fragment set:html={icon.html} />}
                  </LinkButton>
                )
              )
            }
          </div>
        )
      }
    </div>
  }

  {
    isHomepage && carousel &&
      <Carousel>
        {
          carousel.map(url => (
            <iframe
              src={url}
              class="embla__slide aspect-video"
            ></iframe>
          ))
        }
      </Carousel>
  }

</div>
